<aside id="cookieBanner" class="cookie-banner elevate no-print">
	<input id="cookie-banner-toggle" type="checkbox" class="cookie-banner-toggle">
	<div class="cookie-banner-content">
		<header class="cookie-banner-content__header">
			<h3 class="cookie-banner-content__title">
				Join the Cookie Consent Revolution!
			</h3>
		</header>
		<main class="cookie-banner-content__body">
			<p class="cookie-banner-content__paragraph">
				We use functionality cookies to improve your browsing experience. By clicking "Accept", you consent to our use of cookies. More information on the cookies we use can be found in our
				<a href="#">cookie policy</a>.
			</p>
		</main>
		<footer class="cookie-banner-content__footer">
			<button class="button button--outline">Withdraw</button>
			<button class="button button--contained">Accept</button>
		</footer>
	</div>
	<label for="cookie-banner-toggle" class="cookie-icon-label">
		<svg class="cookie-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 31 31.07">
			<path class="cookie-icon__fill" d="m24.68.43c.8,0,1.44.65,1.44,1.44s-.65,1.44-1.44,1.44-1.44-.65-1.44-1.44c0-.8.65-1.44,1.44-1.44h0Z"/>
			<path class="cookie-icon__stroke" d="m25.07,12.99c1.24,1.86,2.82,2.43,4.87,1.17.07.7.08,1.41.05,2.14-.4,8-7.21,14.16-15.21,13.75-8-.41-14.15-7.21-13.75-15.21C1.42,6.84,8.47.62,16.46,1.02c-.71,2.22-.11,4.19,1.7,4.86-1.64,5.25,2.02,8.69,6.91,7.11h0Z"/>
			<path class="cookie-icon__fill" d="m8.24,11.96c1.2,0,2.17.97,2.17,2.17s-.97,2.17-2.17,2.17-2.17-.97-2.17-2.17.97-2.17,2.17-2.17h0Z"/>
			<path class="cookie-icon__fill" d="m15.07,14.72c.69,0,1.25.56,1.25,1.25s-.56,1.25-1.25,1.25-1.25-.56-1.25-1.25c0-.69.56-1.25,1.25-1.25h0Z"/>
			<path class="cookie-icon__fill" d="m9.65,19.87c.84,0,1.52.68,1.52,1.52s-.68,1.52-1.52,1.52-1.52-.68-1.52-1.52.68-1.52,1.52-1.52h0Z"/>
			<path class="cookie-icon__fill" d="m12.94,8.2c.66,0,1.19.54,1.19,1.19s-.54,1.19-1.19,1.19-1.19-.54-1.19-1.19.54-1.19,1.19-1.19h0Z"/>
			<path class="cookie-icon__fill" d="m19.43,20.4c1.11,0,2,.9,2,2s-.9,2-2,2-2-.9-2-2,.9-2,2-2h0Z"/>
			<path class="cookie-icon__fill" d="m23.64,6c.74,0,1.35.6,1.35,1.35s-.6,1.35-1.35,1.35-1.35-.6-1.35-1.35.6-1.35,1.35-1.35h0Z"/>
		</svg>
	</label>
</aside>
