// _variables.scss

/* FONTS */
$font-family-primary: "Poppins", sans-serif;
$font-family-secondary: "Bebas Neue", sans-serif;

/* COLORS */
$color-primary: #df3a2c;
$color-primary-accent: #dc3729;
$color-secondary: #0d4b88;
$color-secondary-accent: #0a386b;
$color-white: #ffffff;
$color-white-background: #eaeaea;
$color-black: #000000;

/* FORM */
$form-card-width: 40em;
$form-card-padding: 1.25em;
$form-card-header-font-size: 1.5em;
$form-card-body-font-size: 1em;
$form-card-footer-padding: 0.625em 1.25em;
$form-card-footer-font-size: 1.125em;

/* FORM-GROUP */
$form-group-margin-bottom: 1.25em;
$form-group-label-font-size: 1.125em;
$form-group-input-padding: 0.625em;
$form-group-input-font-size: 1em;
