{% extends "baseTemplate.twig" %} 
{% block content %}
	<section class="wrapper wrapper--text">
		<article class="article">
			<h1 class="article__title--main"><span class="article__title--underline">About</span> JIM (Justice Is Mine)</h1>
			<p class="article__content">Welcome to the official page of JIM (Justice Is Mine), an esteemed alliance thriving
				within the frozen landscapes of Whiteout Survival. In the icy expanse of this unforgiving world, JIM stands as a
				beacon of camaraderie, strength, and unity.</p>
		</article>

		<article class="article">
			<h2 class="article__title">Our Mission</h2>
			<p class="article__content">At JIM, our mission is clear: to cultivate an environment where members support each
				other, grow together, and conquer the challenges that lie ahead. In the midst of battle and amidst the chill of
				the icy winds, we stand united, ready to face any adversity as one.</p>
		</article>

		<article class="article">
			<h2 class="article__title">What We Offer</h2>
			<p class="article__content">Joining JIM means gaining access to a community that values teamwork, strategy, and
				friendship above all else. Our members are stalwart allies, always ready to lend a helping hand in battle or
				share their knowledge to aid in your growth. Together, we forge bonds that withstand the harsh conditions of
				this frozen world.</p>
		</article>

		<article class="article">
			<h2 class="article__title">Our Values</h2>
			<p class="article__content">Integrity, honor, and resilience define the essence of JIM. We uphold the highest
				standards of conduct, treating each member with respect and dignity. In JIM, every voice matters, and every
				member contributes to our collective success. We celebrate diversity and foster an inclusive environment
				where all are welcome.</p>
		</article>

		<article class="article">
			<h2 class="article__title">Join Us</h2>
			<p class="article__content">If you're seeking a home within the icy realms of Whiteout Survival, look no further
				than JIM. Join our ranks and become part of a community that values courage, loyalty, and friendship above all
				else. Together, we will conquer the challenges that lie ahead and emerge stronger than ever before.</p>
		</article>

		<article class="article">
			<h2 class="article__title">Ready to Join?</h2>
			<p class="article__content">Contact us in-game or visit our alliance headquarters to learn more about joining JIM.
				We eagerly await your arrival and look forward to embarking on this frozen adventure together. Remember, in the
				cold embrace of Whiteout Survival, justice is ours to claim.</p>
		</article>
	</section>
{% endblock %}