{% extends "baseTemplate.twig" %}
{% block content %}
	<div class="wrapper wrapper--text">
		<article class="article">
			<h1 class="article__title--main">
				<span class="article__title--underline">Cookie</span>
				Policy
			</h1>
			<p class="article__content">At JIM, we value your privacy and strive to provide you with the best possible user experience. To achieve this, we use cookies, which are small text files stored on your device, to enhance functionality and personalize content. By continuing to use our website, you consent to the use of cookies as described in this policy.</p>
		</article>

		<article class="article">
			<h3 class="article__subtitle">1. Session Cookies</h3>
			<p class="article__content">
				<strong>Purpose:</strong> Session cookies are essential for the operation of our website. They enable you to navigate the site, log in to your account, and access secure areas. Without these cookies, certain features of the website may not function correctly.
			</p>
			<p class="article__content">
				<strong>Duration:</strong> Session cookies are temporary and expire when you close your browser. They are not stored beyond your current browsing session.
			</p>
			<p class="article__content">
				<strong>Consent:</strong> Session cookies are necessary for the performance of our services and do not require explicit consent. By using our website, you implicitly consent to the use of session cookies.
			</p>
			<h3 class="article__subtitle">2. Cookie Consent Cookie</h3>
			<p class="article__content">
				<strong>Purpose:</strong> The cookie consent cookie records your preference regarding the use of cookies on our website. It remembers whether you have consented to the use of cookies and helps us comply with applicable privacy regulations.
			</p>
			<p class="article__content">
				<strong>Duration:</strong> The cookie consent cookie remains valid for 12 months from the time of your consent. After this period, you will be prompted to reconfirm your cookie preferences.
			</p>
			<p class="article__content">
				<strong>Consent:</strong> The use of the cookie consent cookie is optional. You have the right to manage your cookie preferences and can withdraw your consent at any time by adjusting your browser settings or using the cookie management tools provided on our website.
			</p>
			<h3 class="article__subtitle">3. Style Preference Cookie</h3>
			<p class="article__content">
				<strong>Purpose:</strong> The style preference cookie stores your chosen preference for the appearance of our website, such as light mode or dark mode. This helps us tailor your browsing experience to your preferences.
			</p>
			<p class="article__content">
				<strong>Duration:</strong> The style preference cookie remains valid for 12 months from the time of your selection. You can change your preference at any time, and the cookie will be updated accordingly.
			</p>
			<p class="article__content">
				<strong>Consent:</strong> The use of the style preference cookie is optional. You can choose whether to enable or disable this feature based on your preferences.
			</p>
		</article>

		<article class="article">
			<h2 class="article__title">Managing Your Cookie Preferences</h2>
			<p class="article__content">You have the right to control and manage your cookie preferences. If you wish to opt out of certain cookies or disable all cookies, you can adjust your browser settings accordingly. Most web browsers allow you to reject cookies, delete existing cookies, or receive a warning before accepting new cookies. Please refer to your browser's help documentation for instructions on how to manage cookies.</p>
		</article>

		<article class="article">
			<h2 class="article__title">Questions and Concerns</h2>
			<p class="article__content">If you have any questions or concerns about our use of cookies or this policy, please <a href="{{ basePath() }}/contact">contact us</a>. We are committed to safeguarding your privacy and will address any inquiries promptly.</p>
		</article>

		<article class="article">
			<h2 class="article__title">Changes to this Policy</h2>
			<p class="article__content">We reserve the right to update or revise this cookie policy at any time. Any changes will be posted on this page, and the revised policy will take effect immediately upon publication. We encourage you to review this policy periodically for updates. By using our website and consenting to the use of cookies, you acknowledge that you have read and understood this cookie policy. Thank you, JIM.</p>
		</article>
	</div>
{% endblock %}
