{% extends "baseTemplate.twig" %}
{% block content %}
	<section class="wrapper wrapper--text">
		<article class="article">
			<h1 class="article__title--main">
				<span class="article__title--underline">Join</span>
				Our Discord Server!</h1>
			<p class="article__content">While joining Discord isn't mandatory, it's like adding spice to your dish - not essential, but it sure adds flavor to the experience!</p>
			<p class="article__content">Jump in for epic gaming discussions, meme-sharing marathons, and community shenanigans!</p>
			<a href="{{ inviteURL }}" class="button button--contained" target="_blank">Join Discord</a>
		</article>
	</section>
{% endblock %}
