{% extends "baseTemplate.twig" %}
{% block content %}
	{% if errors %}
		{% set autofocusKeys = ["password", "email"] %}
		{% set autofocus = null %}
		{% for key in autofocusKeys %}
			{% if errors[key] is defined %}
				{% set autofocus = key %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% set autofocus = "email" %}
	{% endif %}
	<section class="wrapper flex">
		<article class="form-card elevate">
			<header class="form-card__header">
				<h2>Login</h2>
			</header>
			<form action="" method="post">
				<main class="form-card__body">
					<div class="form-group">
						<label for="email" class="form-group__label">Email</label>
						<input type="email" id="email" name="email" class="form-group__input" {% if email %} value="{{ email }}" {% endif %} {% if autofocus == "email" %} autofocus {% endif %} required>
						{% if errors.email is defined %}
							<p class="error-message error-message__input">{{ errors.email }}</p>
						{% endif %}
					</div>
					<div class="form-group">
						<label for="password" class="form-group__label">Password</label>
						<input type="password" id="password" name="password" class="form-group__input" {% if autofocus == "password" %} autofocus {% endif %} required>
						{% if errors.password is defined %}
							<p class="error-message error-message__input">{{ errors.password }}</p>
						{% endif %}
					</div>
					{% set errors = errors | filter((v, k) => k not in ["email", "password"] ) %}
					{% for error in errors %}
						<p class="error-message">{{ error }}</p>
					{% endfor %}
				</main>
				<footer class="form-card__footer">
					<input type="submit" class="button button--contained" value="Login">
				</footer>
			</form>
		</article>
	</section>
{% endblock %}
